nav{
background-color:black;
}

ul{
padding:0;
font-size:0;
}

.top-nav li{
display:inline-block;
padding:10px;
}

a{
color:white;
text-decoration:none;
padding:15px 20px;
display:block;
font-size:16px;
}

.side-nav{
max-width:200px;
}

.img-responsive{
display:block;
max-width:100%;
height:auto;
}

.clearfix:after{
content:"";
display:block;
clear:both;
}

.container{
background-color:coral;
}

.box{
width:250px;
padding:10px;
margin:10px;
box-sizing:border-box;
background-color:green;
float:left;
}

h4{
color:red;
}

.box1 > header >h4{
color:blue;
}

div + p{
color:green;
}

.box.box3{
color:purple;
}

