.box{
width:1300px;
height:400px;
background-color:red;
}

@media only screen and (max-width:200px){
.box{
width:1000px;
}
}

@media only screen and (max-width:992px){
.box{
width:800px;
}
}


@media only screen and (max-width:768px){
.box{
width:600px;
}
}

@media only screen and (max-width:574px){
.box{
width:360px;
}
}




