/*.box{
width:200px;
height:200px;
background-color:Red;
transform:translate(300px,200px);
}*/


/*.box{
width:200px;
height:200px;
background-color:Red;
transform:rotate(45deg);
}*/

/*.box{
width:200px;
height:200px;
background-color:Red;
transform:scale(2,2);
}*/

/*.box{
width:200px;
height:200px;
background-color:Red;
transform:skew(45deg,20deg);
}*/

.box{
width:200px;
height:200px;
background-color:Red;
transform:translate(300px,200px) rotate(45deg) scale(2,2);
}



